<%= form_for(@login2) do |f| %>
  <% if @login2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login2.errors.count, "error") %> prohibited this login2 from being saved:</h2>

      <ul>
      <% @login2.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
