<h1>Listing login2s</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @login2s.each do |login2| %>
  <tr>
    <td><%= login2.userid %></td>
    <td><%= login2.password %></td>
    <td><%= link_to 'Show', login2 %></td>
    <td><%= link_to 'Edit', edit_login2_path(login2) %></td>
    <td><%= link_to 'Destroy', login2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Login2', new_login2_path %>
